USE [master]
GO
/****** Object:  Database [SmartPitch]    Script Date: 8/3/2025 7:38:16 PM ******/
CREATE DATABASE [SmartPitch]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SmartPitch', FILENAME = N'D:\SQL\MSSQL15.MSSQLSERVER\MSSQL\DATA\SmartPitch.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SmartPitch_log', FILENAME = N'D:\SQL\MSSQL15.MSSQLSERVER\MSSQL\DATA\SmartPitch_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SmartPitch].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SmartPitch]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 8/3/2025 7:38:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[BookingID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[DiscountCodeID] [int] NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[OriginalAmount] [decimal](12, 2) NULL,
	[TotalAmount] [decimal](12, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingTimeSlot]    Script Date: 8/3/2025 7:38:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingTimeSlot](
	[BookingID] [int] NOT NULL,
	[TimeSlotID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC,
	[TimeSlotID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiscountCode]    Script Date: 8/3/2025 7:38:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiscountCode](
	[DiscountCodeID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[DiscountPercent] [int] NOT NULL,
	[ExpiryDate] [date] NOT NULL,
	[MaxUsage] [int] NOT NULL,
	[UsedCount] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DiscountCodeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Field]    Script Date: 8/3/2025 7:38:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Field](
	[FieldID] [int] IDENTITY(1,1) NOT NULL,
	[StadiumID] [int] NOT NULL,
	[FieldName] [nvarchar](100) NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[isActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[FieldID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FoodItem]    Script Date: 8/3/2025 7:38:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FoodItem](
	[FoodItemID] [int] IDENTITY(1,1) NOT NULL,
	[StadiumID] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [decimal](12, 2) NOT NULL,
	[StockQuantity] [int] NOT NULL,
	[IsActive] [bit] NULL,
	[ImageUrl] [nvarchar](512) NULL,
PRIMARY KEY CLUSTERED 
(
	[FoodItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FoodOrder]    Script Date: 8/3/2025 7:38:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FoodOrder](
	[FoodOrderID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[StadiumID] [int] NOT NULL,
	[BookingID] [int] NULL,
	[DiscountCodeID] [int] NULL,
	[Status] [nvarchar](20) NOT NULL,
	[TotalAmount] [decimal](12, 2) NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[FoodOrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FoodOrderItem]    Script Date: 8/3/2025 7:38:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FoodOrderItem](
	[FoodOrderItemID] [int] IDENTITY(1,1) NOT NULL,
	[FoodOrderID] [int] NOT NULL,
	[FoodItemID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FoodOrderItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MatchSchedule]    Script Date: 8/3/2025 7:38:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MatchSchedule](
	[MatchID] [int] IDENTITY(1,1) NOT NULL,
	[TournamentID] [int] NOT NULL,
	[TeamAID] [int] NOT NULL,
	[TeamBID] [int] NOT NULL,
	[MatchDate] [date] NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[Result] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MatchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 8/3/2025 7:38:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NOT NULL,
	[PaymentMethod] [nvarchar](50) NOT NULL,
	[Amount] [decimal](12, 2) NOT NULL,
	[PaymentDate] [datetime] NULL,
	[Status] [nvarchar](20) NOT NULL,
	[TransactionID] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 8/3/2025 7:38:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stadium]    Script Date: 8/3/2025 7:38:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stadium](
	[StadiumID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Location] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[OwnerID] [int] NULL,
	[PhoneNumber] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[StadiumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teams]    Script Date: 8/3/2025 7:38:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teams](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OwnerUserID] [int] NOT NULL,
	[TeamName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](200) NULL,
 CONSTRAINT [PK_Teams] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeamsMember]    Script Date: 8/3/2025 7:38:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeamsMember](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TeamsID] [int] NOT NULL,
	[UserName] [nvarchar](100) NULL,
	[UserPhone] [nchar](10) NULL,
 CONSTRAINT [PK_TeamsMember] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeSlot]    Script Date: 8/3/2025 7:38:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSlot](
	[TimeSlotID] [int] IDENTITY(1,1) NOT NULL,
	[FieldID] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[Price] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TimeSlotID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tournament]    Script Date: 8/3/2025 7:38:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tournament](
	[TournamentID] [int] IDENTITY(1,1) NOT NULL,
	[StadiumID] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[ImageUrl] [nvarchar](512) NULL,
	[TotalTeams] [int] NULL,
	[Award] [decimal](10, 2) NULL,
	[QuantityTeams] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TournamentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TournamentTeam]    Script Date: 8/3/2025 7:38:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TournamentTeam](
	[TeamID] [int] IDENTITY(1,1) NOT NULL,
	[TournamentID] [int] NOT NULL,
	[TeamName] [nvarchar](100) NOT NULL,
	[CaptainName] [nvarchar](100) NULL,
	[ContactPhone] [nvarchar](20) NULL,
	[Status] [bit] NULL,
	[IsApproved] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[TeamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 8/3/2025 7:38:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[CreatedAt] [datetime] NULL,
	[IsActive] [bit] NULL,
	[GoogleID] [nvarchar](100) NULL,
	[AvatarUrl] [nvarchar](512) NULL,
	[DateOfBirth] [date] NULL,
	[Address] [nvarchar](255) NULL,
	[FacebookID] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 8/3/2025 7:38:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[UserID] [int] NOT NULL,
	[RoleID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Booking] ON 

INSERT [dbo].[Booking] ([BookingID], [UserID], [DiscountCodeID], [Status], [CreatedAt], [OriginalAmount], [TotalAmount]) VALUES (1, 4, 1, N'Confirmed', CAST(N'2025-07-14T23:03:02.273' AS DateTime), CAST(300000.00 AS Decimal(12, 2)), CAST(270000.00 AS Decimal(12, 2)))
INSERT [dbo].[Booking] ([BookingID], [UserID], [DiscountCodeID], [Status], [CreatedAt], [OriginalAmount], [TotalAmount]) VALUES (2, 6, NULL, N'Confirmed', CAST(N'2025-07-14T23:18:11.123' AS DateTime), CAST(150000.00 AS Decimal(12, 2)), CAST(150000.00 AS Decimal(12, 2)))
INSERT [dbo].[Booking] ([BookingID], [UserID], [DiscountCodeID], [Status], [CreatedAt], [OriginalAmount], [TotalAmount]) VALUES (3, 6, NULL, N'Pending', CAST(N'2025-07-14T23:19:17.843' AS DateTime), CAST(150000.00 AS Decimal(12, 2)), CAST(150000.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[Booking] OFF
GO
INSERT [dbo].[BookingTimeSlot] ([BookingID], [TimeSlotID]) VALUES (1, 1)
INSERT [dbo].[BookingTimeSlot] ([BookingID], [TimeSlotID]) VALUES (1, 2)
INSERT [dbo].[BookingTimeSlot] ([BookingID], [TimeSlotID]) VALUES (2, 977)
GO
SET IDENTITY_INSERT [dbo].[DiscountCode] ON 

INSERT [dbo].[DiscountCode] ([DiscountCodeID], [Code], [DiscountPercent], [ExpiryDate], [MaxUsage], [UsedCount]) VALUES (1, N'GIAM10', 10, CAST(N'2025-12-31' AS Date), 100, 0)
INSERT [dbo].[DiscountCode] ([DiscountCodeID], [Code], [DiscountPercent], [ExpiryDate], [MaxUsage], [UsedCount]) VALUES (2, N'GIAM20', 20, CAST(N'2025-12-31' AS Date), 50, 0)
SET IDENTITY_INSERT [dbo].[DiscountCode] OFF
GO
SET IDENTITY_INSERT [dbo].[Field] ON 

INSERT [dbo].[Field] ([FieldID], [StadiumID], [FieldName], [Type], [Description], [isActive]) VALUES (1, 1, N'Sân A - 5 người', N'5 người', N'Sân nhỏ', NULL)
INSERT [dbo].[Field] ([FieldID], [StadiumID], [FieldName], [Type], [Description], [isActive]) VALUES (2, 1, N'Sân A - 7 người', N'7 người', N'Sân trung bình', NULL)
INSERT [dbo].[Field] ([FieldID], [StadiumID], [FieldName], [Type], [Description], [isActive]) VALUES (3, 2, N'Sân B - 11 người', N'11 người', N'Sân lớn', NULL)
SET IDENTITY_INSERT [dbo].[Field] OFF
GO
SET IDENTITY_INSERT [dbo].[FoodItem] ON 

INSERT [dbo].[FoodItem] ([FoodItemID], [StadiumID], [Name], [Description], [Price], [StockQuantity], [IsActive], [ImageUrl]) VALUES (1, 1, N'Nước suối', N'Chai 500ml', CAST(10000.00 AS Decimal(12, 2)), 100, 1, N'images-food/default-food.jpg')
INSERT [dbo].[FoodItem] ([FoodItemID], [StadiumID], [Name], [Description], [Price], [StockQuantity], [IsActive], [ImageUrl]) VALUES (2, 1, N'Bánh mì thịt', N'Bánh mì nhân thịt nướng', CAST(20000.00 AS Decimal(12, 2)), 50, 1, N'images-food/default-food.jpg')
INSERT [dbo].[FoodItem] ([FoodItemID], [StadiumID], [Name], [Description], [Price], [StockQuantity], [IsActive], [ImageUrl]) VALUES (5, 4, N'Nước khoáng', N'', CAST(15000.00 AS Decimal(12, 2)), 50, 1, N'images-food/nuoc-khoang.jpg')
SET IDENTITY_INSERT [dbo].[FoodItem] OFF
GO
SET IDENTITY_INSERT [dbo].[FoodOrder] ON 

INSERT [dbo].[FoodOrder] ([FoodOrderID], [UserID], [StadiumID], [BookingID], [DiscountCodeID], [Status], [TotalAmount], [CreatedAt]) VALUES (1, 4, 1, 1, NULL, N'Confirmed', CAST(40000.00 AS Decimal(12, 2)), CAST(N'2025-07-14T23:03:02.290' AS DateTime))
SET IDENTITY_INSERT [dbo].[FoodOrder] OFF
GO
SET IDENTITY_INSERT [dbo].[FoodOrderItem] ON 

INSERT [dbo].[FoodOrderItem] ([FoodOrderItemID], [FoodOrderID], [FoodItemID], [Quantity], [Price]) VALUES (1, 1, 1, 2, CAST(20000.00 AS Decimal(12, 2)))
INSERT [dbo].[FoodOrderItem] ([FoodOrderItemID], [FoodOrderID], [FoodItemID], [Quantity], [Price]) VALUES (2, 1, 2, 1, CAST(20000.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[FoodOrderItem] OFF
GO
SET IDENTITY_INSERT [dbo].[MatchSchedule] ON 

INSERT [dbo].[MatchSchedule] ([MatchID], [TournamentID], [TeamAID], [TeamBID], [MatchDate], [StartTime], [EndTime], [Result]) VALUES (1, 1, 1, 2, CAST(N'2025-07-02' AS Date), CAST(N'08:00:00' AS Time), CAST(N'09:00:00' AS Time), NULL)
SET IDENTITY_INSERT [dbo].[MatchSchedule] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([PaymentID], [BookingID], [PaymentMethod], [Amount], [PaymentDate], [Status], [TransactionID]) VALUES (1, 1, N'VNPay', CAST(270000.00 AS Decimal(12, 2)), CAST(N'2025-07-14T23:03:02.280' AS DateTime), N'Completed', N'TXN123456')
INSERT [dbo].[Payment] ([PaymentID], [BookingID], [PaymentMethod], [Amount], [PaymentDate], [Status], [TransactionID]) VALUES (2, 4, N'CashOnArrival', CAST(180000.00 AS Decimal(12, 2)), CAST(N'2025-07-15T00:15:57.420' AS DateTime), N'Pending', NULL)
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (2, N'Owner')
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (3, N'User')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Stadium] ON 

INSERT [dbo].[Stadium] ([StadiumID], [Name], [Location], [Description], [Status], [CreatedAt], [OwnerID], [PhoneNumber]) VALUES (1, N'Sân Vận Động A', N'Hà Nội', N'Sân trung tâm', N'Available', CAST(N'2025-07-14T23:03:02.247' AS DateTime), 2, N'0901111111')
INSERT [dbo].[Stadium] ([StadiumID], [Name], [Location], [Description], [Status], [CreatedAt], [OwnerID], [PhoneNumber]) VALUES (2, N'Sân Vận Động B', N'Hồ Chí Minh', N'Sân quận 1', N'Available', CAST(N'2025-07-14T23:03:02.250' AS DateTime), 3, N'0902222222')
INSERT [dbo].[Stadium] ([StadiumID], [Name], [Location], [Description], [Status], [CreatedAt], [OwnerID], [PhoneNumber]) VALUES (3, N'Sân Quận', N'Đà Nẵng', N'Sân Quận Ngũ Hành Sơn', N'active', CAST(N'2025-07-14T23:14:58.263' AS DateTime), 6, N'0828363699')
SET IDENTITY_INSERT [dbo].[Stadium] OFF
GO
SET IDENTITY_INSERT [dbo].[Teams] ON 

INSERT [dbo].[Teams] ([ID], [OwnerUserID], [TeamName], [Description]) VALUES (1, 4, N'ITPROVN', N'Siêu cấp đội bóng IT')
INSERT [dbo].[Teams] ([ID], [OwnerUserID], [TeamName], [Description]) VALUES (2, 5, N'Vippro', N'123')
SET IDENTITY_INSERT [dbo].[Teams] OFF
GO
SET IDENTITY_INSERT [dbo].[TeamsMember] ON 

INSERT [dbo].[TeamsMember] ([ID], [TeamsID], [UserName], [UserPhone]) VALUES (2, 1, N'Duyen', N'0918815101')
INSERT [dbo].[TeamsMember] ([ID], [TeamsID], [UserName], [UserPhone]) VALUES (3, 1, N'Duyen1', N'0918815102')
INSERT [dbo].[TeamsMember] ([ID], [TeamsID], [UserName], [UserPhone]) VALUES (4, 1, N'Duyen2', N'0918815103')
SET IDENTITY_INSERT [dbo].[TeamsMember] OFF
GO
SET IDENTITY_INSERT [dbo].[TimeSlot] ON 

INSERT [dbo].[TimeSlot] ([TimeSlotID], [FieldID], [Date], [StartTime], [EndTime], [Price]) VALUES (1, 1, CAST(N'2025-06-17' AS Date), CAST(N'06:00:00' AS Time), CAST(N'07:00:00' AS Time), CAST(150000.00 AS Decimal(12, 2)))
INSERT [dbo].[TimeSlot] ([TimeSlotID], [FieldID], [Date], [StartTime], [EndTime], [Price]) VALUES (2, 1, CAST(N'2025-06-17' AS Date), CAST(N'07:00:00' AS Time), CAST(N'08:00:00' AS Time), CAST(150000.00 AS Decimal(12, 2)))
INSERT [dbo].[TimeSlot] ([TimeSlotID], [FieldID], [Date], [StartTime], [EndTime], [Price]) VALUES (62, 1, CAST(N'2025-07-16' AS Date), CAST(N'20:00:00' AS Time), CAST(N'21:00:00' AS Time), CAST(150000.00 AS Decimal(12, 2)))
GO
SET IDENTITY_INSERT [dbo].[TimeSlot] OFF
GO
SET IDENTITY_INSERT [dbo].[Tournament] ON 

INSERT [dbo].[Tournament] ([TournamentID], [StadiumID], [Name], [Description], [StartDate], [EndDate], [CreatedBy], [CreatedAt], [ImageUrl], [TotalTeams], [Award], [QuantityTeams]) VALUES (1, 4, N'Giải Hè 2025', N'Dành cho các đội phong trào', CAST(N'2025-06-29' AS Date), CAST(N'2025-07-10' AS Date), 2, CAST(N'2025-07-14T23:03:02.300' AS DateTime), N'https://res.cloudinary.com/dqrmoyjq2/image/upload/v1753770508/giai1_b5pcxw.jpg', NULL, NULL, NULL)
INSERT [dbo].[Tournament] ([TournamentID], [StadiumID], [Name], [Description], [StartDate], [EndDate], [CreatedBy], [CreatedAt], [ImageUrl], [TotalTeams], [Award], [QuantityTeams]) VALUES (11, 3, N'Summer Cup', N'Giải đấu khắc nghiệt nhất hành tinh', CAST(N'2025-07-24' AS Date), CAST(N'2025-09-17' AS Date), 6, CAST(N'2025-07-23T18:15:18.047' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[Tournament] ([TournamentID], [StadiumID], [Name], [Description], [StartDate], [EndDate], [CreatedBy], [CreatedAt], [ImageUrl], [TotalTeams], [Award], [QuantityTeams]) VALUES (12, 4, N'Summer Cup 2', N'Bùng lổ', CAST(N'2025-07-24' AS Date), CAST(N'2025-09-17' AS Date), 6, CAST(N'2025-07-23T23:44:26.467' AS DateTime), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Tournament] OFF
GO
SET IDENTITY_INSERT [dbo].[TournamentTeam] ON 

INSERT [dbo].[TournamentTeam] ([TeamID], [TournamentID], [TeamName], [CaptainName], [ContactPhone], [Status], [IsApproved]) VALUES (1, 1, N'Team Alpha', N'Anh A', N'0901234567', 1, 0)
INSERT [dbo].[TournamentTeam] ([TeamID], [TournamentID], [TeamName], [CaptainName], [ContactPhone], [Status], [IsApproved]) VALUES (2, 1, N'Team Beta', N'Anh B', N'0907654321', 1, 0)
INSERT [dbo].[TournamentTeam] ([TeamID], [TournamentID], [TeamName], [CaptainName], [ContactPhone], [Status], [IsApproved]) VALUES (3, 18, N'ITPROVN', N'Người dùng 1', N'0900000003', 0, 0)
SET IDENTITY_INSERT [dbo].[TournamentTeam] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [Email], [PasswordHash], [FullName], [Phone], [CreatedAt], [IsActive], [GoogleID], [AvatarUrl], [DateOfBirth], [Address], [FacebookID]) VALUES (1, N'admin@example.com', N'hashed_admin', N'Admin', N'0900000000', CAST(N'2025-07-14T23:03:02.230' AS DateTime), 1, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[User] ([UserID], [Email], [PasswordHash], [FullName], [Phone], [CreatedAt], [IsActive], [GoogleID], [AvatarUrl], [DateOfBirth], [Address], [FacebookID]) VALUES (2, N'owner1@example.com', N'hashed_owner1', N'Chủ sân 1', N'0900000001', CAST(N'2025-07-14T23:03:02.230' AS DateTime), 1, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[User] ([UserID], [Email], [PasswordHash], [FullName], [Phone], [CreatedAt], [IsActive], [GoogleID], [AvatarUrl], [DateOfBirth], [Address], [FacebookID]) VALUES (3, N'owner2@example.com', N'hashed_owner2', N'Chủ sân 2', N'0900000002', CAST(N'2025-07-14T23:03:02.230' AS DateTime), 1, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
INSERT [dbo].[UserRole] ([UserID], [RoleID]) VALUES (1, 1)
INSERT [dbo].[UserRole] ([UserID], [RoleID]) VALUES (2, 2)
INSERT [dbo].[UserRole] ([UserID], [RoleID]) VALUES (3, 2)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Discount__A25C5AA7FFF26BCC]    Script Date: 8/3/2025 7:38:16 PM ******/
ALTER TABLE [dbo].[DiscountCode] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Role__8A2B616011802693]    Script Date: 8/3/2025 7:38:16 PM ******/
ALTER TABLE [dbo].[Role] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__A9D105344DE1FC82]    Script Date: 8/3/2025 7:38:16 PM ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Booking] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Booking] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[DiscountCode] ADD  DEFAULT ((0)) FOR [MaxUsage]
GO
ALTER TABLE [dbo].[DiscountCode] ADD  DEFAULT ((0)) FOR [UsedCount]
GO
ALTER TABLE [dbo].[Field] ADD  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[FoodItem] ADD  DEFAULT ((0)) FOR [StockQuantity]
GO
ALTER TABLE [dbo].[FoodItem] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[FoodOrder] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[FoodOrder] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[Stadium] ADD  DEFAULT ('Available') FOR [Status]
GO
ALTER TABLE [dbo].[Stadium] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Tournament] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TournamentTeam] ADD  CONSTRAINT [DF_TournamentTeam_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[TournamentTeam] ADD  CONSTRAINT [DF_TournamentTeam_IsApproved]  DEFAULT ((0)) FOR [IsApproved]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD FOREIGN KEY([DiscountCodeID])
REFERENCES [dbo].[DiscountCode] ([DiscountCodeID])
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[BookingTimeSlot]  WITH CHECK ADD FOREIGN KEY([BookingID])
REFERENCES [dbo].[Booking] ([BookingID])
GO
ALTER TABLE [dbo].[BookingTimeSlot]  WITH CHECK ADD FOREIGN KEY([TimeSlotID])
REFERENCES [dbo].[TimeSlot] ([TimeSlotID])
GO
ALTER TABLE [dbo].[Field]  WITH CHECK ADD FOREIGN KEY([StadiumID])
REFERENCES [dbo].[Stadium] ([StadiumID])
GO
ALTER TABLE [dbo].[FoodItem]  WITH CHECK ADD FOREIGN KEY([StadiumID])
REFERENCES [dbo].[Stadium] ([StadiumID])
GO
ALTER TABLE [dbo].[FoodOrder]  WITH CHECK ADD FOREIGN KEY([BookingID])
REFERENCES [dbo].[Booking] ([BookingID])
GO
ALTER TABLE [dbo].[FoodOrder]  WITH CHECK ADD FOREIGN KEY([DiscountCodeID])
REFERENCES [dbo].[DiscountCode] ([DiscountCodeID])
GO
ALTER TABLE [dbo].[FoodOrder]  WITH CHECK ADD FOREIGN KEY([StadiumID])
REFERENCES [dbo].[Stadium] ([StadiumID])
GO
ALTER TABLE [dbo].[FoodOrder]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[FoodOrderItem]  WITH CHECK ADD FOREIGN KEY([FoodItemID])
REFERENCES [dbo].[FoodItem] ([FoodItemID])
GO
ALTER TABLE [dbo].[FoodOrderItem]  WITH CHECK ADD FOREIGN KEY([FoodOrderID])
REFERENCES [dbo].[FoodOrder] ([FoodOrderID])
GO
ALTER TABLE [dbo].[MatchSchedule]  WITH CHECK ADD FOREIGN KEY([TeamAID])
REFERENCES [dbo].[TournamentTeam] ([TeamID])
GO
ALTER TABLE [dbo].[MatchSchedule]  WITH CHECK ADD FOREIGN KEY([TeamBID])
REFERENCES [dbo].[TournamentTeam] ([TeamID])
GO
ALTER TABLE [dbo].[MatchSchedule]  WITH CHECK ADD FOREIGN KEY([TournamentID])
REFERENCES [dbo].[Tournament] ([TournamentID])
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([BookingID])
REFERENCES [dbo].[Booking] ([BookingID])
GO
ALTER TABLE [dbo].[Stadium]  WITH CHECK ADD FOREIGN KEY([OwnerID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[TeamsMember]  WITH CHECK ADD  CONSTRAINT [FK_TeamsMember_Teams] FOREIGN KEY([TeamsID])
REFERENCES [dbo].[Teams] ([ID])
GO
ALTER TABLE [dbo].[TeamsMember] CHECK CONSTRAINT [FK_TeamsMember_Teams]
GO
ALTER TABLE [dbo].[TimeSlot]  WITH CHECK ADD FOREIGN KEY([FieldID])
REFERENCES [dbo].[Field] ([FieldID])
GO
ALTER TABLE [dbo].[Tournament]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Tournament]  WITH CHECK ADD FOREIGN KEY([StadiumID])
REFERENCES [dbo].[Stadium] ([StadiumID])
GO
ALTER TABLE [dbo].[TournamentTeam]  WITH CHECK ADD FOREIGN KEY([TournamentID])
REFERENCES [dbo].[Tournament] ([TournamentID])
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[DiscountCode]  WITH CHECK ADD CHECK  (([DiscountPercent]>=(0) AND [DiscountPercent]<=(100)))
GO
/****** Object:  StoredProcedure [dbo].[AutoGenerateTimeSlots]    Script Date: 8/3/2025 7:38:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AutoGenerateTimeSlots]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Today DATE = CAST(GETDATE() AS DATE);

    -- XÓA CÁC TIMESLOT CŨ chưa được đặt
    DELETE FROM TimeSlot
    WHERE Date < @Today
      AND TimeSlotID NOT IN (
          SELECT TimeSlotID FROM BookingTimeSlot
      );

    -- TẠO MỚI TIMESLOT CHO 30 NGÀY TỚI CHO MỖI FIELD
    DECLARE @FieldID INT;
    DECLARE field_cursor CURSOR FOR
        SELECT FieldID FROM Field;

    OPEN field_cursor;
    FETCH NEXT FROM field_cursor INTO @FieldID;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        DECLARE @i INT = 0;

        WHILE @i < 30
        BEGIN
            DECLARE @date DATE = DATEADD(DAY, @i, @Today);
            DECLARE @startTime TIME = '06:00';
            DECLARE @endTime TIME = '21:00';
            DECLARE @cur TIME = @startTime;

            WHILE (@cur < @endTime)
            BEGIN
                -- Kiểm tra đã tồn tại chưa
                IF NOT EXISTS (
                    SELECT 1 FROM TimeSlot 
                    WHERE FieldID = @FieldID AND Date = @date 
                      AND StartTime = @cur AND EndTime = DATEADD(HOUR, 1, @cur)
                )
                BEGIN
                    INSERT INTO TimeSlot (FieldID, Date, StartTime, EndTime, Price)
                    VALUES (@FieldID, @date, @cur, DATEADD(HOUR, 1, @cur), 150000);
                END

                SET @cur = DATEADD(HOUR, 1, @cur);
            END

            SET @i = @i + 1;
        END

        FETCH NEXT FROM field_cursor INTO @FieldID;
    END

    CLOSE field_cursor;
    DEALLOCATE field_cursor;
END;
GO
USE [master]
GO
